<section class="cta-section theme-bg-light py-5">
  <div class="container text-center single-col-max-width">
    <h2 class="heading">Portfolio</h2>
    <div class="intro">
      <p>Thank you for visiting my online portfolio! I personally put together this website to showcase some of my previous work and accomplishments, as well as sharing some of my insights. Want some help building your software?</p>

    </div>
    <a class="btn btn-primary" routerLink="/contact"><i class="fas fa-paper-plane mr-2"></i>Hire Me</a>


  </div><!--//container-->
</section>
<section class="projects-list px-3 py-5 p-md-5">
  <div class="container">
    <div class="text-center">
      <ul id="filters" class="filters mb-5 mx-auto pl-0">
        <li class="type active mb-3 mb-lg-0" data-filter="*">All</li>
        <li class="type  mb-3 mb-lg-0" data-filter=".webapp">We App</li>
        <li class="type  mb-3 mb-lg-0" data-filter=".mobileapp">Mobile App</li>
        <li class="type  mb-3 mb-lg-0" data-filter=".frontend">Frontend</li>
        <li class="type  mb-3 mb-lg-0" data-filter=".backend">Backend</li>
      </ul><!--//filters-->
    </div>

    <div class="project-cards row isotope">
      <div class="isotope-item col-md-6 mb-5 mobileapp frontend">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-1.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a routerLink="/project" class="theme-link">STIBS2 - Control Center</a></h5>
                <p class="card-text">The front end of the STIBS2CC project is implemented with the Angular Framework and runs on the client's browser.
                  The Angular CLI is used in conjunction with NodeJs to develop the project.Every user has to authenticate himself.
                </p>
                <p class="card-text">
                  <small class="text-muted">Client: Stadler Rail AG</small>
                </p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" routerLink="/project" (click)="setProject('STIBS2')"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" routerLink="/project" (click)="setProject('STIBS2')">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="isotope-item col-md-6 mb-5 webapp frontend">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-2.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a routerLink="/project" class="theme-link">SEMO</a></h5>
                <p class="card-text">SEMO is a highly flexible IT solution for industrial automation. SEMO
                  offers interfaces to common controls (PLC, robotics, NC), graphic visualization of data and events,
                  control technology and many more.
                </p>
                <p class="card-text">
                  <small class="text-muted">Client: Strelen Control Systems GmbH</small>
                </p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" routerLink="/project" (click)="setProject('semo')"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" routerLink="/project" (click)="setProject('semo')">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="isotope-item col-md-6 mb-5 mobileapp">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-3.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a routerLink="/project" class="theme-link">Plan & Search - Xpert</a></h5>
                <p class="card-text">The Plan & Search-xpert software offers an integrated solution both for the system
                  planning of special machines and for researching technical solutions and suppliers.
                  The software combines the planning and procurement of assembly systems and researching technical
                  solutions and suppliers.
                </p>
                <p class="card-text">
                  <small class="text-muted">Client: Xpertgate GmbH & Co. KG</small>
                </p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" routerLink="/project" (click)="setProject('plan')"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" routerLink="/project" (click)="setProject('plan')">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="isotope-item col-md-6 mb-5 webapp backend">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-4.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a routerLink="/project" class="theme-link">Costing - Xpert </a></h5>
                <p class="card-text">configurable & modular software for the calculation of specific machines </p>
                <p class="card-text">
                  <small class="text-muted">Client: Xpertgate GmbH & Co. KG</small>
                </p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" routerLink="/project" (click)="setProject('costing')"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" routerLink="/project" (click)="setProject('costing')">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="isotope-item col-md-6 mb-5 mobileapp frontend">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-5.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a routerLink="/project" class="theme-link">AO-Foundation Wow-Terminal</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque
                  penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                <p class="card-text">
                  <small class="text-muted">Client:  AO Foundation (Arbeitsgemeinschaft für Osteosynthesefragen) - Biel, Switzerland</small>
                </p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" routerLink="/project" (click)="setProject('AO')"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" routerLink="/project" (click)="setProject('AO')">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="isotope-item col-md-6 mb-5 webapp backend">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-6.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a routerLink="/project" class="theme-link">WoW-Terminal-NKF</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque
                  penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                <p class="card-text">
                  <small class="text-muted">Client: Niederer Kraft Frey AG -  Zurich,Switzerland</small>
                </p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" routerLink="/project" (click)="setProject('NKF')"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" routerLink="/project" (click)="setProject('NKF')">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="isotope-item col-md-6 mb-5 webapp frontend backend">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-7.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a routerLink="/project" class="theme-link">FIS</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque
                  penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                <p class="card-text">
                  <small class="text-muted">Client: Stadler Rail AG</small>
                </p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" routerLink="/project" (click)="setProject('FIS')"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" routerLink="/project" (click)="setProject('FIS')">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="isotope-item col-md-6 mb-5 webapp frontend">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-8.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a routerLink="/project" class="theme-link">Bogestra_Service DIA</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque
                  penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                <p class="card-text">
                  <small class="text-muted">Client: Bochum-Gelsenkirchener Straßenbahnen AG - Bochum,Germany</small>
                </p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" routerLink="/project" (click)="setProject('bogestra')"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" routerLink="/project" (click)="setProject('bogestra')">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
      <div class="isotope-item col-md-6 mb-5 webapp frontend">
        <div class="card project-card">
          <div class="row no-gutters">
            <div class="col-lg-4 card-img-holder">
              <img src="assets/images/project/project-8.jpg" class="card-img" alt="image">
            </div>
            <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title"><a routerLink="/project" class="theme-link">Project Heading</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque
                  penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                <p class="card-text">
                  <small class="text-muted">Client: GitLab</small>
                </p>
              </div>
            </div>
          </div>
          <div class="link-mask">
            <a class="link-mask-link" routerLink="/project"></a>
            <div class="link-mask-text">
              <a class="btn btn-secondary" routerLink="/project">
                <i class="fas fa-eye mr-2"></i>View Case Study
              </a>
            </div>
          </div><!--//link-mask-->
        </div><!--//card-->
      </div><!--//col-->
    </div><!--//row-->

  </div>
</section>

<footer class="footer text-center py-4">
  <small class="copyright"> Copyright &copy; 2020 <a href="https://nguenkam.com/" target="_blank">Aurelien Brice Nguenkam</a></small>
</footer>


