// @import "../../../styles/css/theme-1";

:host{
}

.name{
  font-size: 2rem !important;
}

.tagline{
  font-size: 1.2em !important;
}

.testimonial-carousel{

  display: flex;
  overflow-x: hidden;
  padding: 1rem 0;


  .item{
    border: 1px solid #d0d0d0;
    flex: 1 0 353px;
    scroll-snap-align: start;
    margin-left: 1rem;
    animation: anime 30s linear infinite;

    &.show{
        display: block;
    }

    .meta{
      color: #8f8f8f;
      font-size: 0.8125rem !important;
       .name{
         font-size: 0.8125rem !important;
       }
    }
  }
}

@keyframes slide-right {
  to {
    transform:translateX(-300%);
  }
}

@keyframes anime {
  0%   {
    transform: translate(0, 0); }
  100% {
    transform: translate(-300%, 0); }
}

/* Smartphones in landscape mode */

@media only screen and (min-width: 421px) and (max-width: 767px) {
  .tagline{
    font-size: 1.4em !important;
  }
}

/*  Smartphones in portrait mode  */

@media only screen and (max-width: 420px) {
  .tagline{
    font-size: 1.4em !important;
  }

  .name{
    font-size: 1.5rem !important;
  }
}

