@import "../../../../styles/css/variable";


.myTools{
  background: $sidebar-background;
  color: #a7a7a7;
  .name{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
  }
  .spacer {
    flex: 1 1 auto;
  }
}

.mobile-menu{
  background: $sidebar-background;
  .profile-section{
    text-align: center;
  }
}
