<section class="cta-section theme-bg-light py-5">
  <div class="container text-center">
    <h2 class="heading">A Blog About Software Development And Life</h2>
    <a href="http://www.myblog.nguenkam.com/" target="_blank"> ( http://www.myblog.nguenkam.com )</a>
    <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
    <form class="signup-form form-inline justify-content-center pt-3">
      <div class="form-group">
        <label class="sr-only" for="semail">Your email</label>
        <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
  </div><!--//container-->
</section>
<section class="blog-list px-3 py-5 p-md-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card blog-post-card">
          <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-1.jpg" alt="image">
          <div class="card-body">
            <h5 class="card-title"><a class="theme-link" routerLink="/embed/blog" (click)="rewriteBlogURL('http://www.myblog.nguenkam.com/index.php/2020/09/21/software-versioning/')">Software versioning</a></h5>
            <p class="card-text"> Jedes Release eines Softwareprogramms bekommt eine Versionsnummer, die auf den ersten Blick
              darüber Auskunft gibt, ob ein Hersteller regelmäßig Updates zur Verfügung stellt und seine Software verbessert...</p>
            <p class="mb-0"><a class="more-link" routerLink="/embed/blog" (click)="rewriteBlogURL('http://www.myblog.nguenkam.com/index.php/2020/09/21/software-versioning/')">Read more &rarr;</a></p>

          </div>
          <div class="card-footer">
            <small class="text-muted">Published 2 days ago</small>
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-md-4 mb-3">
        <div class="card blog-post-card">
          <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-2.jpg" alt="image">
          <div class="card-body">
            <h5 class="card-title"><a class="theme-link" routerLink="/embed/blog" (click)="rewriteBlogURL('http://www.myblog.nguenkam.com/index.php/2020/09/13/cmd-commands-you-should-know/')">CMD Commands</a></h5>
            <p class="card-text">The Windows command prompt is a feature that’s been a core part of the Windows
              operating system for a long time.The following are some of the best CMD commands you should know if you
              want to have more control over ...</p>
            <p class="mb-0"><a class="more-link" routerLink="/embed/blog" (click)="rewriteBlogURL('http://www.myblog.nguenkam.com/index.php/2020/09/13/cmd-commands-you-should-know/')">Read more &rarr;</a></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Published a week ago</small>

          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-md-4 mb-3">
        <div class="card blog-post-card">
          <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-3.jpg" alt="image">
          <div class="card-body">
            <h5 class="card-title"><a class="theme-link" routerLink="/embed/blog" (click)="rewriteBlogURL('http://www.myblog.nguenkam.com/index.php/2020/08/20/angular-app-with-php-backend/')">Angular app with PHP backend</a></h5>
            <p class="card-text">Learn to code Angular app with PHP backend In the following tutorials, you’ll learn how
              build a whole application with Angular (Frontend ) & PHP ( Backend) .
              We will create an easy CRUD application...</p>
            <p class="mb-0"><a class="more-link" routerLink="/embed/blog" (click)="rewriteBlogURL('http://www.myblog.nguenkam.com/index.php/2020/08/20/angular-app-with-php-backend/')">Read more &rarr;</a></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Published 3 weeks ago</small>
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-md-4 mb-3">
        <div class="card blog-post-card">
          <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-4.jpg" alt="image">
          <div class="card-body">
            <h5 class="card-title"><a class="theme-link" routerLink="/embed/blog" (click)="rewriteBlogURL('http://www.myblog.nguenkam.com/index.php/2020/08/20/internationalization-i18n-with-angular/')">Internationalization ( i18n ) With Angular</a></h5>
            <p class="card-text">Internationalization, often written as i18n, is the process through which products can
              be prepared to be taken to other countries...</p>
            <p class="mb-0"><a class="more-link" routerLink="/embed/blog" (click)="rewriteBlogURL('http://www.myblog.nguenkam.com/index.php/2020/08/20/internationalization-i18n-with-angular/')">Read more &rarr;</a></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Published 1 month ago</small>
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-md-4 mb-3">
        <div class="card blog-post-card">
          <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-5.jpg" alt="image">
          <div class="card-body">
            <h5 class="card-title"><a class="theme-link" routerLink="/embed/blog" (click)="rewriteBlogURL('http://www.myblog.nguenkam.com/index.php/2020/08/18/nginx-mettre-en-place-un-serveur-web/')">Nginx – Mettre en place un serveur web</a></h5>
            <p class="card-text">Le principal but de notre serveur est d’héberger des sites web. Pour cela on a besoin
              d’installer un serveur HTTP...</p>
            <p class="mb-0"><a class="more-link" routerLink="/embed/blog" (click)="rewriteBlogURL('http://www.myblog.nguenkam.com/index.php/2020/08/18/nginx-mettre-en-place-un-serveur-web/')">Read more &rarr;</a></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Published 1 month ago</small>
          </div>
        </div><!--//card-->
      </div><!--//col-->
      <div class="col-md-4 mb-3">
        <div class="card blog-post-card">
          <img class="card-img-top" src="assets/images/blog/blog-post-thumb-card-6.jpg" alt="image">
          <div class="card-body">
            <h5 class="card-title"><a class="theme-link" routerLink="/embed/blog" (click)="rewriteBlogURL('http://www.myblog.nguenkam.com/index.php/2020/09/22/working-with-angular-template-reference-variables/')">Working with Angular
              Template Reference Variables</a></h5>
            <p class="card-text">A template reference variable is often a reference to a DOM element within a template.
              It can also refer to a directive...</p>
            <p class="mb-0"><a class="more-link" routerLink="/embed/blog" (click)="rewriteBlogURL('http://www.myblog.nguenkam.com/index.php/2020/09/22/working-with-angular-template-reference-variables/')">Read more &rarr;</a></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Published 2 months ago</small>
          </div>
        </div><!--//card-->
      </div><!--//col-->
    </div><!--//row-->


    <nav class="blog-nav nav nav-justified my-5">
      <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i
        class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
      <a class="nav-link-next nav-item nav-link rounded" routerLink="/embed/blog" (click)="rewriteBlogURL()">Next<i
        class="arrow-next fas fa-long-arrow-alt-right"></i></a>
    </nav>

  </div>
</section>

<footer class="footer text-center py-4">
  <small class="copyright"> Copyright &copy; 2020 <a href="https://nguenkam.com/" target="_blank">Aurelien Brice Nguenkam</a></small>
</footer>

